/WorkWithFile/nbproject/private/
/WorkWithFile/build/
/JavaFXApplication1/nbproject/private/
/JavaFXApplication1/build/
/JavaFXApplication1/dist/
/BubleSort/nbproject/private/
/SortAlgoritmes/nbproject/private/
/SortAlgoritmes/build/